@import "tailwindcss";

@theme {
  --font-display: "Recife Display", "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}
/* Base styles */
body {
  @apply bg-slate-50 text-slate-900;
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
